body{
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	height: 100vh;
}
h1{
	margin-top: 50px !important;
	margin-bottom: 30px !important;
	text-decoration-line: underline;
	font-weight: bolder;
}
table{
	padding: 10px;
	margin: 5px;
}